.hero {
    background-image: url('assets/img/Background_main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
}

h2 {
    font-family: var(--font-main);
    color: var(--color-nav-text);
    text-transform:uppercase;
    font-weight: bold;
    margin-bottom : 20px;
}

p {
    font-family: var(--font-secondary);
    color:var(--color-nav-text);
    line-height: 1.5em;   
}

.slide-box{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 40px;  
}

.box1 {
    border-radius: 15px;
    overflow: hidden;  
    margin-right:5%;
}

.box2 {
    background-color: var(--color-secondary-text);
    border-radius: 15px;
    flex : 0.5;
    padding: 20px;
}

@media screen and (max-width:550px) {
    .hero {
        background: center center url("assets/img/hero-mobile.jpg");
    }
    
}

@media screen and (min-width:320px) and (max-width: 1200px){
    .hero{
        background-position:center;
    }
    .slide-box {
        flex-direction: column-reverse;
        gap: 20px;
    }

    p {
        width: 100%;
    }

    .box2 {
        width: 100%;
    }
    .box1 img {
        width: 100%;
    }
    
}