/* MAIN___________________________________ */

main {
  background: center center / cover url("assets/img/Maquette_La boutique_2.png")
    #fff5e9;
}

/*div  englobante */
.librairie {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/*TEXTE*/
.descriptionLibrairie {
  width: 50%;
  max-width: 80vh;
  min-width: 40vh;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  line-height: 1.5;
  background-color: var(--color-secondary-text);
  padding: 20px;
}

body {
  background: center center / cover url("assets/img/Tentacule.jpg") #fff5e9;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-nav-text);
  font-family: var(--font-main);
  text-transform: uppercase;
  padding-bottom: 20px;
}

p {
  font-family: var(--font-secondary);
}

/*____________DIV PHOTO*________________*/
.img_lalibrairie {
  display: flex;
  width: 50%;
}

.photoLibrairie {
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 900px) {
  .librairie {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
  }

  .photoLibrairie {
    align-items: center;
    width: 100%;
    /* min-width: 250px; */
  }
  .img_lalibrairie {
    width: 100%;
  }

  .descriptionLibrairie {
    width: 100%;
  }
}
