@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-nav-text: #401701;
  --color-secondary-text: burlywood;
  --font-main: Bree Serif, serif;
  --font-secondary: Oxygen, sans-serif;
  --font-size: 1rem; /*supprimer si pose problème*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

main {
  flex: 1;
  /* margin-bottom: 10px; */
}

nav {
  display: flex;
  background-color: var(--color-secondary-text);
  height: 85px;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

nav li {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

nav a {
  display: inline-block;
  position: relative;
  color: var(--color-nav-text);
  font-family: var(--font-main);
  color: var(--color-nav-text);
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-nav-text);
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  opacity: 0.7;
}

.logo {
  position: absolute;
  top: 12px;
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 0 0px 12px 15px;
  width: 90px;
  height: 90px;
}

.logo:hover {
  opacity: 0.7;
}

footer {
  background-color: var(--color-secondary-text);
  height: 50px;
  width: 100%;
}

.title-small {
  position: absolute;
  margin: 0px 0px 5px 10px;
}

.social {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.social img {
  height: 30px;
  width: 30px;
  margin: 5px;
  color: var(--color-nav-text);

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.social img:hover,
.social img:focus,
.social img:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 0.7;
}

.burger {
  display: none;
}

/*____________________________Small device_________________________*/

@media screen and (max-width: 900px) {
  .navbar_links {
    display: none;
    flex-direction: column;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-text);
  }
  nav li {
    width: 100vw;
    justify-content: center;
    padding: 12px 0px;
  }
  li:hover {
    font-size: 1.7rem;
  }
  .navbar_links a {
    color: var(--color-nav-text);
  }
  .show-nav .navbar_links {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 10;
  }
  .show-title {
    display: none;
  }
  .burger {
     z-index: 500; 
    display: block;
    position: absolute;
    top: 16px;
    right: 25px;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .logo_poulp {
    padding-left: 8px;
  }

  a {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .bar {
    display: block;
    width: 45px;
    height: 4px;
    background: var(--color-nav-text);
    border-radius: 10px;
    position: relative;
  }

  /*Permet d'effacer la barre centrale pour l'animation de translation des deux autres en croix*/
  .show-nav .bar {
    width: 0px;
    background: transparent;
    transition: 0.04s ease-in-out;
  }

  .bar::before,
  .bar::after {
    /* before et after dans le flow html, sert a crer une forme et styliser une div vide en gros...*/
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    background: black;
    border-radius: 10px;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  .bar::before {
    transform: translateY(-14px);
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .bar::after {
    transform: translateY(14px);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
}
