@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-nav-text: #401701;
  --color-secondary-text: burlywood;
  --font-main: Bree Serif, serif;
  --font-secondary: Oxygen, sans-serif;
  --font-size:1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
    height: 100%;
    width: 100vw;
}

body {
    display:flex;
    flex-direction: column;
    width: 100vw;
}

main {
    flex:1;
}

nav {
  display: flex;
  background-color: var(--color-secondary-text);
  height: 85px;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

nav li {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

nav a {
  display: inline-block;
  position: relative;
  color: var(--color-nav-text);
  font-family: var(--font-main);
  color: var(--color-nav-text);
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-nav-text);
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  opacity: 0.7;
}



.logo {
  position: absolute;
  top: 12px;
  background-size: 90%;
  background-repeat: no-repeat;
  margin: 0 0px 12px 15px;
  width: 90px;
  height: 90px;
}

.logo:hover {
  opacity: 0.7;
}

footer {
  background-color: var(--color-secondary-text);
  height: 50px;
  width: 100%;
}

.title-small {
  display: flex;
  height: 2.5em;
    position: absolute;
    margin: 5px 0px 5px 10px;
}

.social {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.social img {
  height: 30px;
  width: 30px;
  margin: 5px;
  color: var(--color-nav-text);

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.social img:hover,
.social img:focus,
.social img:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 0.7;
}
